body {
    background: white;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main_container .btn_atras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 20px;
    width: 60px;
    height: 80px;
    color: #03305E;
}


.btn_atras img {
    width: 50px;
    height: 50px;
}
.btn_atras p {
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.main_hero_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    border-bottom: 1px solid #AFABAA;
}

.hero_btn_container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 15vw;
    height: max-content;
    margin-left: 80px;
}

.hero_btn_container button {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #0BC8DE;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-color: #0BC8DE;
    color: white;
}

.hero_btn_container button:hover {
    background: #03305E;
    border-color: #03305E;
}

.hero_image_container img {
    width: 70vw;
    height: 400px;
    object-fit: cover;
    margin-right: 80px;
    border-radius: 10px;
    margin-bottom: 40px;
}

/************************CONTENIDO************************************/
.correos_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin: 80px auto 20px auto;
}

.correos_container p:nth-child(1) {
    font-size: 20px;
    color: #03305E;
}

.correos_container p {
    display: flex;
    margin: 30px 0;
    width: 230px;
    justify-content: center;
    color: #03305E;
}

.correo {
    display: flex;
    align-items: center;
    color: #03305E;
    width: 280px;
}

.correo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

@media (min-width: 1200px) {

    .header_logo {
        display: flex;
    }

    .menu_mobile {
        display: none;
    }

    .main_aliados_container {
        margin-top: 250px;
    }
}