/**********************Estilos GENERALES****************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    font-weight: 300;
    font-size: 2rem;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /******************************INICIO DE MAIN******************************/
  
.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: max-content;    
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 40px auto 30px auto;
    color: #03305E;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

.main_container .btn_atras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 30px;
    width: 60px;
    height: 80px;
    color: #03305E;
}

.btn_atras img {
    width: 50px;
    height: 50px;
}

.btn_atras p {
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
}

/*Inicio de estilos para el cuerpo de la página*/

.correos_division {
  display: flex;
  flex-direction: column;
 align-items: center;
  margin-top: 100px;
  border-top: 1px solid #03305E;
  width: 100vw;
}

.correos_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;   
}

.correos_container a {
    height: 100px;
    margin: 50px 0;
}

.correos_container a:hover {
    scale: 1.2;
}

.correo {
    display: flex;
    align-items: center;
    color: #03305E;   
}

.correo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

@media (min-width: 1200px) {

    .header_logo {
        display: flex;
    }

    .menu_mobile {
        display: flex;
    }

    .main_aliados_container {
        margin-top: 250px;
    }

    .web_container {
        margin: 0;
    }

    .logo_container img {
        margin: 0;
    }
}

@media (min-width: 1024px) {
 
    .container_menu {
      width: 300px;
      height: max-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      margin-bottom: 55px;
      margin-top: 20px;
      gap: 50px;
    }
    
    .header_logo img {
      display: none;
    }
  
  }