/*******************************FOOTER**************************/
.footer_container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    color: #03305E;
    background: white;
    border-top: 1px solid #03305E;    
}

.web_container {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 800;
}

.numero_contacto_container p {
    font-size: 2rem;
    font-weight: 800;
}

.numero_contacto_container a {
    color: #03305E;
    font-size: 2rem;
}

.numero_contacto_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 40px 40px;
}

.contactos_whatsapp {
    display: flex;
    flex-direction: column;

}

.logo_container {
    display: flex;
    justify-content: center;
}

.logo_container img {
    width: 280px;
    height: 100px;
    border-radius: 10px;
    margin-top: 20px;
}

@media (min-width: 1024px) {

    .footer_container {
        flex-direction: row;
        justify-content: space-between;
    }


}