/*******************************FOOTER**************************/
.footer_container {  
    margin: 50px;
    padding-top: 50px;
    border-top: 5px solid #C4CFD1;   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;      
    justify-content: center;
    align-items: center;
    width: 90vw;      
    
}
.web_container {
    text-align: center;
}

.numero_contacto_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 40px 40px;
}

.numero_contacto_container a {
   color: black;
}

.numero_contacto_container a:hover {
    color: #03305E;
}

.logo_container img {
    width: 280px;
    height: 100px; 
    border-radius: 10px;  
    margin-top: 20px; 
}
