* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: white;
}

/*********************************HEADER******************/
.header_container {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
    margin-right: 50px;
    border-bottom: 5px solid #C4CFD1;
}

.header_container img {
    width: 250px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 40px;
}

.header_container p {
    margin-right: 80px;
}

/********************************MAIN HERO****************************/
.main_container {
    display: flex;
    flex-direction: column;
}

.main_hero_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    border-bottom: 1px solid #AFABAA;
}

.hero_btn_container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 15vw;
    height: max-content;
    margin-left: 80px;
}

.hero_btn_container button {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #0BC8DE;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-color: #0BC8DE;
    color: white;
}

.hero_btn_container button:hover {
    background: #03305E;
    border-color: #03305E;
}

.hero_image_container img {
    width: 70vw;
    height: 400px;
    object-fit: cover;
    margin-right: 80px;
    border-radius: 10px;
    margin-bottom: 40px;
}

/************************CONTENIDO************************************/


/*******************************FOOTER**************************/
.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding-top: 50px;
}

.numero_contacto_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 40px;
}

.logo_container img {
    width: 250px;
    height: 100px;
    border-radius: 10px;
}