* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        font-family: 'Playfair Display', serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        color: white;
    }
    /*********************************HEADER******************/
    .header_container {
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 5px solid #C4CFD1;          
    }
    .header_logo img {
        width: 150px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        margin: 0 auto;
    }
    .header_slogan {
        font-size: 10px;
        text-align: center;
        color: #03305E;
        width: 200px;
    }