.main_container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 280px;
    margin: 20px auto;
}

.main_nosotros_container {
    width: 280px;
    margin-top: 100px;
    text-align: center;
}

.main_nosotros_container p {
    margin-top: 20px;
}

.main_container .btn_atras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 80px;
    color: black;
}

.btn_atras img {
    width: 50px;
    height: 50px;
}
.btn_atras p {
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.main_hero_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    border-bottom: 1px solid #AFABAA;
}

.hero_btn_container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 15vw;
    height: max-content;
    margin-left: 80px;
}

.hero_btn_container button {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #0BC8DE;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-color: #0BC8DE;
    color: white;
}

.hero_btn_container button:hover {
    background: #03305E;
    border-color: #03305E;
}

.hero_image_container img {
    width: 70vw;
    height: 400px;
    object-fit: cover;
    margin-right: 80px;
    border-radius: 10px;
    margin-bottom: 40px;
}
/********************CONTENIDO*********************/
