/**********************Estilos GENERALES****************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    font-weight: 300;
    font-size: 2rem;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /******************************INICIO DE MAIN******************************/


  .main_container .btn_atras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 20px;
    width: 60px;
    height: 80px;
    color: #03305E;
  }
  
  .btn_atras img {
    width: 50px;
    height: 50px;
  }
  
  .btn_atras p {
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    font-weight: 800;
  }

  /*********************/
  .main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: max-content;    
  }

  .imagen_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    text-align: center;
  }

  .imagen_container h1 {
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 60px auto 30px auto;
    color: #03305E;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .imagen_container img {
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
  }

  .parrafo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    margin: 0 20px;
    color: #03305E;
  }

  .parrafo_container strong {
    font-size: 2rem;
  }

  .parrafo_container p {
    margin: 20px auto;
    max-width: 600px;
  }

  .video_container {
    display: flex;
    justify-content: center;
    width: 100vw;   
    margin-top: 60px; 
  }

  .video_container iframe {
    width: 90%;
    max-width: 400px;
  }

  .btn-asesor {   
    margin: 50px auto 0 auto;    
    background: red;
    height: 40px;
    width: 200px;
    font-size: 14px;
    font-weight: 800;
  }

  .btn-asesor:hover {
    background: black;
    color: white;
  }