/**********************Estilos GENERALES****************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    font-weight: 300;
    font-size: 2rem;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
  }
  
  /******************************INICIO DE MAIN******************************/
  .main section {
    max-width: 400px;
    height: max-content;
    background-image: url(./Imagenes/FondoProgramaSanacion.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }
  
  .programa_container {
    display: flex; 
    justify-content: space-between; 
    padding-bottom: 50px;
  }

  .texto_container {
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;  
    width: 50vw;  
    max-width: 300px;
    height: max-content;
  }

  /*Estilos para sección de programas*/

  .programa_container .seccion_programa_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
  }

  .programa_container .seccion_programa_container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
    font-size: 12px
  }

  .programa_container .seccion_programa_container p {
    margin: 0;
    font-size: 8px;
    width: 200px;
    height: max-content;
  }

  .programa_container .seccion_programa_container p:nth-child(2) {
    height: 50px;
  }

  .programa_container .seccion_programa_container p:nth-child(3) {
    height: 80px;
  }

  .programa_container .seccion_programa_container p:nth-child(3) {
    height: 180px;
  }


  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 100px 0;
    color: #4B1886;
  }

  .programa_container .seccion_programa_container .titulo_programas {
    margin: 0;
  }

  .titulo p {
    font-size: 14px;
  }

  .logo_container {
    display: flex;
    justify-content: space-between;
    align-content: center;   
    width: 100%;
  }

  .logo_container div {
    height: max-content;
  }

  .logo_container img {
    height: 40px;
    width: auto;
  }

  .imagenes_container {

    width: 50vw;
    margin: 20px;
  }

  .imagenes_container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f2f2f2;
    align-items: center;
    width: 160px;
    height: 80px;
    padding-bottom: 30px;
  }

  .imagenes_container div p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 10px;
    text-align: center;
  }

  .imagenes_container div img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  } 

